
.box-one{
    background-color:red;
    padding: 10px;
    height: 150px;
    width: 150px;
    border: 20px solid #800000;
    outline: white solid 10px;;
    margin: 100px 100px 10px 700px
    
}

.box-two{
    background-color:yellow;
    padding: 10px;
    height: 150px;
    width: 150px;
    border: 20px solid rgb(218, 165, 32);
    outline: white solid 10px;
    margin: 10px 100px 10px 700px

}

.box-three{
    background-color:rgb(51, 130, 51);
    padding: 10px;
    height: 150px;
    width: 150px;
    border: 20px solid rgb(44, 96, 44);
    outline: white solid 10px;
    margin: 10px 100px 10px 700px

}


.box-one-advanced{
    background: linear-gradient(to bottom, red 50%, rgb(248, 131, 121) 50%);
    padding: 10px;
    height: 150px;
    width: 150px;
    border: 20px solid #800000;
    outline: white solid 10px;;
    margin: 100px 100px 10px 700px
    
}

.box-two-advanced{
    background-color:yellow;
    background-image: conic-gradient(yellow 0deg, yellow 90deg, rgb(250, 250, 161) 90deg, rgb(250, 250, 175) 180deg, yellow 180deg, yellow 270deg);
    padding: 10px;
    height: 150px;
    width: 150px;
    border: 20px solid rgb(218, 165, 32);
    outline: white solid 10px;
    margin: 10px 100px 10px 700px

}

.box-three-advanced{
    background-color:green;
    background-image: conic-gradient(green 0deg, green 90deg, green 90deg, green 180deg, rgb(193, 225, 193) 180deg, rgb(193, 225, 193) 270deg, green 270deg);
    padding: 10px;
    height: 150px;
    width: 150px;
    border: 20px solid rgb(44, 96, 44);
    outline: white solid 10px;
    margin: 10px 100px 10px 700px

}

